@font-face {
	font-family: 'AntroVectra';
	src: url("../../assets/font/Antro_Vectra.otf")
}
@font-face {
    font-family: 'LINESeedJP';
    src: url("../../assets/font/LINE.otf");
}
@font-face {
    font-family: 'LINESeedJP-regular';
    src: url("../../assets/font/LINE_Rg.otf");
}

*{
    margin: 0;
    padding: 0;
}

.top_image{
    margin: 50px 10%;
    width: 80%;
    height: 800px;
    object-fit: cover;
}

.top_title{
    transform: translate(0, -200px);
    margin-left: 55%;
    padding: 10px 30px;
    -webkit-text-stroke: 2px #000;
    font-size: 75px;
    font-family: 'LINESeedJP';
    background-color: #ffffff;
    color:rgba(255,255,255,0);
    text-shadow: 10px 0px #FFFCAB;
}

.sub_title{
    -webkit-text-stroke: 2px #000;
    font-size: 75px;
    font-family: 'LINESeedJP';
    color: #fff;
}

.mentors_box{
    margin: 0 10%;
    width: 80%;
    padding-top: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.mentors_box a{
    width: 300px;
    margin: 0 50px;
    margin-bottom: 150px;
}

.mentor_content{
    width: 300px;
    height: 300px;
    position: relative;
}

.mentor_content img{
    position: absolute;
    z-index: -5;
    margin-left: 19px;
    width: 280px;
}

.mentor_number{
    position: absolute;
    z-index: 0;
    font-family: 'AntroVectra';
    font-size: 68px;
    color: #000;
    transform: translate(0, -50px);
}
.mentor_course{
    position: absolute;
    text-align: right;
    z-index: 0;
    font-family: 'LINESeedJP-regular';
    font-size: 16px;
    color: #FFF;
    bottom: 0;
    right: 0;
    margin-right: 5px;
    transform: translate(0, -50px);
}
.mentor_name{
    position: absolute;
    text-align: right;
    z-index: 0;
    font-family: 'LINESeedJP-regular';
    font-size: 34px;
    color: #FFF;
    bottom: 0;
    right: 0;
    margin-right: 5px;
    transform: translate(0, -10px);
}

.mentor_page {
    display: flex;
    justify-content: space-around;
}

.mentor_text {
    text-align: left;
}

h3.title {
    margin: auto;
    border-radius: 5px;
    color: black;
}

.mentor_icon {
    border-radius: 10px;
}
