* {
    background-color: #19043C;
}

.mentor_page {
    display: flex;
    justify-content: space-around;
}

.mentor_text {
    text-align: left;
}

h3.title {
    margin: auto;
    border-radius: 5px;
    background-color: white;
    color: black;
}

.mentor_icon {
    border-radius: 10px;
}

h1 {
    color: white;
}

h2 {
    color: white;
}